<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
<parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="Com.SaouceDemo.TestClass.TC04_ProceedToCheckOut"/>
      <class name="Com.SaouceDemo.TestClass.TC01_LoginPage_FunctionalityCheck"/>
      <class name="Com.SaouceDemo.TestClass.TC03_ProductAddToCart"/>
      <class name="Com.SaouceDemo.TestClass.TC005_addPersonalInfo"/>
      <class name="Com.SaouceDemo.TestClass.TC02_logoutfunc"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
